<app-loading *ngIf="loading"></app-loading>
<div class="alert alert-danger animated fadeIn" *ngIf="error">
  <h3>Error</h3>
  <p>{{ menssageError }}</p>
</div>
<app-tarjetas [items]="newReleases" class="animated fadeIn" *ngIf="!loading"></app-tarjetas>