<div class="row m-5">
    <div class="col">
        <input #termino type="text" (keyup)="search(termino.value)" class="form-control" placeholder="Buscar artista...">
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<app-tarjetas [items]="artists"></app-tarjetas>