<app-loading *ngIf="loadingArtist"></app-loading>
<div class="row m-5 animated fadeIn" *ngIf="!loadingArtist">
    <div class="col-2">
        <img [src]="artist.images | noimages" class="img-thumbnail img-circle" alt="">
    </div>

    <div class="col-2">
        <h3> {{ artist.name }}</h3>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank">
                Ir a la página del artista
            </a>
        </p>
    </div>  

    <div class="col-4 text-right">
        <button  routerLink="/search" class="btn btn-outline-danger"> Regresar </button>
        <!-- <img [src]="artist.images | noimage" class="img-thumbnail img-circle" alt=""> -->
    </div>  
</div>
<div class="row">
    <div class="col">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Álbum</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of topTracks">
                    <td>
                        <img [src]="track.album.images | noimages" class="img-thumb" alt="">
                    </td>
                    <td>{{ track.name }}</td>
                    <td>{{ track.album.name }}</td>
                    <td>
                        <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
