<div class="card-columns m-5">
    <div (click)="viewArtists(item)" *ngFor="let item of items" class="card puntero">
      <img [src]="item.images | noimages" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">
            <span *ngFor="let artists of item.artists" class="badge badge-pill badge-primary">
                {{ artists.name }}
            </span>
        </p>
      </div>
    </div>
</div>